<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm" (ngSubmit)='onSubmit(form)'>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name='name' class='form-control' [(ngModel)]='userSettings.name'
        required #nameField='ngModel'
        [class.field-error]='form.submitted && nameField.invalid'/>
      <div [hidden]="!form.submitted || nameField.valid "
      class="alert alert-danger">Enter a name</div>
    </div>
    <div class="form-check form-group">
      <input class="form-check-input" type="checkbox" value="" id="emailoffers" name='emailoffers' [(ngModel)]='userSettings.emailOffers'>
      <label class="form-check-label" for="emailoffers">
        Email Special Offers
      </label>
    </div>
    <p>User Interface Style</p>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightInterface" value="light" [(ngModel)]='userSettings.interfaceStyle'>
        <label class="form-check-label" for="lightInterface">
          Light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="mediumInterface" value="medium" [(ngModel)]='userSettings.interfaceStyle'>
        <label class="form-check-label" for="mediumInterface">
          Medium
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="darkInterface" value='dark' [(ngModel)]='userSettings.interfaceStyle'>
        <label class="form-check-label" for="darkInterface">
          Dark
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select class="form-control" aria-label=".form-select-sm example" id="subscriptionType" name='subscriptionType' [(ngModel)]='userSettings.subscriptionType'>
        <option *ngFor="let type of subscriptionTypes | async">
          {{ type }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea class='form-control' rows=4 id="notes" name='notes' [(ngModel)]='userSettings.notes'></textarea>
    </div>
    <div [hidden]="!postError" class="alert alert-danger">
      {{ postErrorMessage }}
    </div>
    <button class='btn btn-primary'>Send</button>
  </form>

</div>

{{ userSettings | json }}
